<label>Grid Size
  <input type="number" min="4" #gridSize [placeholder]="MIN_GRID_SIZE"/>
</label>
<button (click)="initializeGame(gridSize.value)">Start new game</button>

<h1>Current Player: {{currentPlayer}}</h1>
<div *ngFor="let rows of matrix; let i = index">
  <div *ngFor="let cols of rows  let j = index"
       [style.cursor]="cols === playerEnum.EMPTY ? 'pointer' : 'not-allowed'"
       (click)="markCell(i, j)"
       class="cell">
    <span>
      <b>{{cols}}</b>
    </span>
  </div>
</div>

<ng-container *ngIf="this.winner !== playerEnum.EMPTY">
  <div>
    <h1>*** Game completed ***</h1>
    <h2 style="color: green">*** {{currentPlayer}} won this game ***</h2>
    <button (click)="initializeGame()">Restart</button>
  </div>
</ng-container>

